<h2>注文履歴一覧</h2>

<table>
		  <thead>
		    <tr>
		      <th>購入日時</th>
	      	  <th>購入者</th>
		      <th>注文個数</th>
		    </tr>
		  </thead>
		  
		  <tbody>
		    <% @orders.each do |order| %>
		  　 <tr>
		        <td><%#= order.created_at.strftime('%Y/%m/%d') %>
		        <%= link_to admin_order_path(order) do %><%= order.created_at.strftime('%Y/%m/%d%T') %><% end %></td>
		        <td><%= order.receiver %></td>
		        <td><%= order.order_details.count %></td>
    	        <td></td>
     	      </tr>
		    <% end %>
		  </tbody>
		</table>
		
		 
		<%= paginate(@orders) %>