<h2>注文履歴一覧</h2>

 <table class="table table-hover table-bordered table-condensed">
		  <thead>
		    <tr>
		      <th>購入日時</th>
	      	  <th>購入者</th>
		      <th>注文個数</th>
		    </tr>
		  </thead>
		  
		  <tbody>
		    <% @orders.each do |order| %>
		  　 <tr>
		        <td>
		        <%= link_to admin_order_path(order) do %><%= order.created_at.strftime('%Y/%m/%d%T') %><% end %>
		        </td>
		        <td><%= order.receiver %></td>
		        <td><%= order.order_details.sum(:amount) %></td>
    	        <td></td>
     	      </tr>
		    <% end %>
		  </tbody>
		</table>
		
		 
		<%= paginate(@orders) %>