<h2>注文情報確認</h2>

 
      <table>
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        
        <tbody>
          <% @cart_items.each do |cart| %>
            <tr>
              <td>
                <%= image_tag 'no_image', size: "50x50" %>
                <%#= attachment_image_tag( cart.item, :image, size: "60x50", fallback: "no_image.jpg") %>
                <%= cart.item.name %>
              </td>
              <td>
                <%= (cart.item.price * 1.1).floor.to_s(:delimited) %>
              </td>
              <td>
                  <%= cart.amount %>
              </td>
              <td>
                ¥<%= (cart.item.price * cart.amount * 1.1).floor.to_s(:delimited) %>
                <% @sum+= (cart.item.price * cart.amount * 1.1).floor %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <table>
          <tr>
            <th>送料</th>
            <td><%= @order.postage %></td>
          </tr>
          <tr>
            <th>商品合計</th>
            <td><%= @sum.to_s(:delimited) %></td>
          </tr>
          <tr>
            <th>請求金額</th>
            <td><%= (@sum+@order.postage).to_s(:delimited) %></td>
          </tr>
      </table>


<h3>支払い方法</h3><%= @order.payment_method %>

<h3>お届け先</h3><%= "#{@order.postal_code} #{@order.address} #{@order.receiver}" %>

 <%= form_with model: @order, url: public_orders_path, method: :post, local: true do |f| %>
        <%= f.hidden_field :postal_code %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :receiver %>
        <%= f.hidden_field :payment_method %>
        <%= f.hidden_field :total_price %>
        
        <%= f.submit "注文を確定する" %>
      <% end %>