<h2>注文履歴詳細</h2>

<% if @order.present? %>
  <div class="row">
    <div class="col-lg-6">
      注文情報
      <table class="table table-hover table-inverse table-bordered mx-auto">
          <tbody>
              <tr>
                <th>注文日</th>
          	  <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
              </tr>
              <tr>
              　<th>配送先</th>
                <td><%= @order.postal_code %><br>
                	  <%= @order.address %><br>
                	  <%= @order.receiver %>
                </td>
              </tr>
              <tr>
              　<th>支払方法</th>
                <td><%= @order.payment_method %></td>
              </tr>
           </tbody>
        </table>
     </div>
   
     <div class="col-lg-6">
     請求情報
       <table class="table table-hover table-inverse table-bordered mx-auto">
            <tr>
              <th>商品合計</th>
              <td><%= (@order.total_price - @order.postage).to_s(:delimited) %></td>
            </tr>
            <tr>
              <th>配送料</th>
              <td><%= @order.postage.to_s(:delimited) %></td>
            </tr>
            <tr>
              <th>ご請求額</th>
              <td><%= @order.total_price.to_s(:delimited) %></td>
            </tr>
        </table>
      </div>
   </div>
   
  <div class="row">
    <div class="col-lg-8">
    	注文内容
       <table class="table table-hover table-inverse table-bordered mx-auto">
         <thead>
  	      <tr>
  	      	<th>商品</th>
  	        <th>単価(税込)</th>
  	      	<th>個数</th>
  	      	<th>小計</th>
  	      </tr>
         </thead>
        	<tbody>
        	<% @order_details.each do |order_detail| %>
            <tr>
  	        <td><%= order_detail.item.name %></td>
  	        <td><%= (order_detail.item.price).to_s(:delimited) %></td>
  	        <td><%= order_detail.amount %></td>
  	        <td><%= total_price(order_detail).to_s(:delimited) %></td>
            </tr>
          　<% end %>
          </tbody>
        </table>
      </div>
   </div>
        
    <% else %>
    <p>注文履歴がありません。</p>
  <% end %>