<h2>ログイン</h2>

会員の方はこちらからログイン
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  
    <%= f.label :パスワード %>
    <%= f.password_field :password, autocomplete: "current-password" %>
 
    <%= f.submit "ログイン" %>
 
<% end %>

会員登録がお済みでない方

<%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。


