<h2>商品一覧</h2>
(全<%= @items.count %>件)



<% @items.each do |item| %>
          
           
              <%= link_to public_item_path(item) do %>
              <%= image_tag 'no_image', size: "180x130" %>
               
              <% end %>
              
              <%= item.name %>
              ¥<%= (item.with_tax_price).floor.to_s(:delimited)%>(税込)
            
          <% end %>
        

<%= paginate(@items) %>